<nav class="bg-white border border-gray-900 ">
    <div
      class="flex flex-wrap justify-between items-center mx-auto p-1"
    >
      <a
        routerLink="/dashboard"
        class="flex items-center space-x-3 rtl:space-x-reverse"
      >
        <img
          src="../../../assets/public/Edize.jpeg"
          class="h-8"
          alt="Flowbite Logo"
        />
        <span
          class="self-center mb-1 text-2xl font-bold leading-none tracking-tight text-[#5932EA] md:text-2xl lg:text-2xl dark:text-[#5932EA]"
          > CRM SALES</span
        >
      </a>
      <div class="flex items-center space-x-6 rtl:space-x-reverse">
        <!-- <a href="tel:5541251234" class="text-sm  text-gray-500 dark:text-white hover:underline">(555) 412-1234</a>
              <a href="#" class="text-sm  text-blue-600 dark:text-blue-500 hover:underline">Login</a> -->
  
        <div
          routerLink="profile"
          class="relative w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600 hover:cursor-pointer" 
        >
          <svg
            class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-12 h-12 text-gray-400 md:w-10 md:h-10 sm:w-8 sm:h-8"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </div>
      </div>
    </div>
  </nav>